.tarjeta-producto,
.tarjeta-catalogo {
    transition: transform .3s ease, box-shadow .3s ease;
}

.tarjeta-producto:hover,
.tarjeta-catalogo:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgb(44, 62, 80);
}

.boton:hover {
    filter: brightness(1.1);
}

.navegacion-principal a:hover,
.navegacion-principal a.active {
    color: var(--primario-oscuro);
}

.escala-icono-social,
.iconos-sociales a {
    display: inline-block;
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), color .2s ease;
    padding: 4px 8px;
    margin-right: 5px;
    border: 2px double var(--oscuro);
    border-radius: 20px;
}

.escala-icono-social:hover,
.iconos-sociales a:hover {
    transform: scale(1.2);
    color: var(--primario);
    border-color: var(--primario);
}

@keyframes entradaHaciaArriba {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contenido-hero {
    animation: entradaHaciaArriba 1s;
}