.grid-blog {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto; 
}

.encabezado-secundario {
    text-align: center;
    margin-bottom: 2rem;
}

.articulo {
    display: flex; 
    flex-direction: row;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.3s ease;
    background: #56fc95;
}

.articulo img {
    width: 35%; 
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.articulo-contenido {
    width: 65%; 
    padding: 1.5rem;
}

.articulo h2 {
    font-family: 'Georgia', serif; 
    padding: 100px;
}

.articulo p {
    line-height: 1.6; 
    color: #444;
}

.articulo:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgb(44, 62, 80);
}