<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog | Vida Sostenible</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <div class="contenedor-borde">
    <header class="blog-header">
        <h1>Vida Sostenible</h1>
        <p>Tu guía diaria para un impacto positivo en el planeta.</p>
    </header>

    <main class="grid-blog">
        <article class="articulo principal">
            <img src="../assets/energia-limpia.jpg" alt="Energía Limpia">
            <h2>El futuro de la energía limpia: ¿Estamos listos?</h2>
            <p>Un análisis profundo sobre cómo las renovables están transformando el consumo eléctrico en nuestros hogares...</p>
        </article>

        <article class="articulo">
            <img src="../assets/reciclaje.jpg" alt="Reciclaje">
            <h3>Guía básica de reciclaje</h3>
            <p>Aprende a separar tus residuos correctamente y reduce tu huella de basura diaria.</p>
        </article>

        <article class="articulo">
            <img src="../assets/habitoss-verdes.jpg" alt="Hábitos">
            <h3>Hábitos verdes para el 2026</h3>
            <p>Pequeños cambios en tu rutina diaria que generan grandes beneficios ambientales.</p>
        </article>
        <article class="articulo">
            <img src="../assets/habitoss-verdes.jpg" alt="Hábitos">
            <h3>Hábitos verdes para el 2026</h3>
            <p>Pequeños cambios en tu rutina diaria que generan grandes beneficios ambientales.</p>
        </article>
    </main>
    </div>
</body>
</html>