<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog Vida Sostenible</title>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/animations.css">
</head>
<body>
    <div class="contenedor-borde ">
    <header class="encabezado-principal blog-header">
        <div class="logotipo"><a href="../index.html">EcoMarket</a></div>
        <nav class="navegacion-principal">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="sobre-nosotros.html" class="activo">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
        <div class="acciones-encabezado">
            <a href="#buscar">🔍</a>
            <a href="#carrito">🛒 <span class="contador-carrito">0</span></a>
        </div>
        
    </header>

    <main class="grid-blog">
        <div class="encabezado-secundario">
            <h1>Vida Sostenible</h1>
            <p>Tu guía diaria para un impacto positivo en el planeta.</p>
        </div>
        <a class="articulo" target="_blank" href="https://www.un.org/es/climatechange/raising-ambition/renewable-energy" >
            <img src="../img/hero/energia.jpg" alt="Energía Limpia">
            <div class="contenedor-borde ">
            <h3>El futuro de la energía limpia: ¿Estamos listos?</h3>
            <hr>
            <p>la transición hacia fuentes de energía sostenibles ya no es una visión lejana, sino una realidad palpable que está redefiniendo cómo interactuamos con la energía dentro de nuestras cuatro paredes. La integración de tecnologías como la eólica y la biomasa representadas en la imagen marca el inicio de una era donde el hogar se convierte en u.....
            </p>
            </div>
        </a>

        <a class="articulo" target="_blank" href="https://www.un.org/es/impacto-acad%C3%A9mico/crear-una-nueva-sociedad-mediante-la-educaci%C3%B3n-ambiental">
            <img src="../img/hero/images.jpeg" alt="Reciclaje">
            <div class="contenedor-borde ">
            <h3>Guía básica de reciclaje</h3>
            <hr>
            <p>En 1977 se adoptó la Declaración de Tbilisi sobre educación ambiental para crear nuevas pautas de comportamiento de los individuos, los grupos y la sociedad en su conjunto con respecto al medioambiente. Siguiendo el espíritu de esta declaración que ya tiene casi 45 años, la Universidad Franco-Haitiana de Cabo Haitiano, institución uruntau....</p>
            </div>
        </a>

        <a class="articulo" target="_blank" href="https://www.un.org/es/impacto-acad%C3%A9mico/formar-los-futuros-l%C3%ADderes-para-cambiar-el-mundo" >
            <img src="../img/hero/salud.jpg" alt="Hábitos">
            <div class="contenedor-borde ">
            <h3>Hábitos verdes para el 2026</h3>
            <hr>
            <p>La Facultad de Ciencias Económicas (FCE) de la Universidad de Buenos Aires está centrada en la investigación, la transferencia de conocimiento, el asesoramiento técnico y las actividades de extensión universitaria. Se trata de una de las universidades más importantes de Argentina, y participa en programas internacionales relacionados r.......</p>
            </div>
        </a>
        <a class="articulo" target="_blank" href="https://www.un.org/es/desa/clean-energy-for-global-goals">
            <img src="../img/hero/enrgialimpia.jpg" alt="Alternativas">
            <div class="contenedor-borde ">
            <h3>Mejores Alternativas limpias</h3>
            <hr>
            <p>El mundo aún está lejos de alcanzar la visión del Objetivo de Desarrollo Sostenible número 7 cuya meta es energía limpia y asequible para todos, declaró el Secretario General de la ONU durante un evento de alto nivel en el Consejo Económico y Social de la ONU. El Simposio sobre Interconexión Global Energética reunió a representantes ......</p>
            </div>
        </a>
    </main>
    </div>
</body>
</html>