<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Eco-Points</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <div class="contenedor-borde">
    <main class="contenedor">
        <h1>Tu Impacto Ambiental</h1>
        <section class="grid-dashboard">
            <div class="tarjeta-metrica">
                <img src="../assets/icon-arbol.png" alt="Árbol">
                <h3>Árboles Plantados</h3>
            </div>
            <div class="tarjeta-metrica">
                <img src="../assets/icon-nube.png" alt="CO2">
                <h3>CO₂ Reducido</h3>
            </div>
            <div class="tarjeta-metrica">
                <img src="../assets/icon-premio.png" alt="Puntos">
                <h3>Eco-Points</h3>
            </div>
            <div class="tarjeta-metrica">
                <img src="../assets/icon-gota.png" alt="Agua">
                <h3>Agua Guardada</h3>
            </div>
        </section>
    </main>
    </div>

</body>
</html>