<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Resultado - EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <div class="contenedor-borde">
    <main class="contenedor">
        <section class="tarjeta-producto">
            <div class="contenido-tarjeta">
                <h2>Tu Huella de Carbono</h2>
                <p>Basado en tu consumo, tu impacto estimado es:</p>
                <article class="tarjeta-catalogo">
                    <div class="imagen-tarjeta">
                        <img src="../img/hero/huella.jpg" alt="tu huella">
                    </div>
                </article>
                <p>Recuerda: pequeños cambios generan un impacto global masivo.</p>
                <a href="calculadora.html" class="boton boton-secundario">Volver a calcular</a>
            </div>
        </section>
        
    </main>
    </div>
</body>
</html>